:root {
  --background-main: #cf995f;
  --color-main: white;
  --background-secondary: #dbad6a;
  --color-secondary: #333;
  --links: #f6f7eb;
  --emphasis: #ddfff7;
  --emphasis-rare: #a1e8cc;
}

* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 150%;
  background-color: var(--background-main);
  color: var(--color-main);
}
body {
  width: 800px;
  padding: 20px;
  margin: auto;
}
a {
  cursor: pointer;
  color: var(--links);
}
a:hover {
  text-decoration: underline;
}
em {
  padding: 2px 4px;
  background-color: var(--emphasis);
  font-style: normal;
  color: #333;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-all;
}

.toastify { max-width: 100%; }
.toastify pre, .toastify em {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.toast-info { background: #726edb !important; }
.toast-warning { background: #cfdb6e !important; }
.toast-error { background: #db6e6e!important; }
.toast-success { background: #6edb91!important; }
