:root {
  --background-main: #25232A;
  --color-main: #F3F2F4;
  --background-secondary: #979798;
  --color-secondary: #979798;
  --links: #6A7667;
  --emphasis: #999BC1;
  --emphasis-rare: #DBA4BB;
}
