:root {
  --background-main: #EDEBE6;
  --color-main: #403B33;
  --background-secondary: #D6E1C7;
  --color-secondary: #403B33;
  --links: #94C7B6;
  --emphasis: #D3643B;
  --emphasis-rare: #028F76;
}
